# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data artifacts
heat_results.pkl
heatmap_last
data/shared/processed/heat_results.pkl
